<%= form_with(model: @song, local: true) do |form| %>
    <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @song.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>
  <div class="field">
    <%= form.label :file %><br>
    <%= form.file_field :file %>
  </div>
  <div class="field">
    <%= form.label :album_id %><br>
    <%= form.text_field :album_id %>
  </div>
  <div class="field">
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </div>
  <div>
    <%= form.label :genre %><br>
    <%= form.text_field :genre %>
    <% @song.errors.full_messages_for(:genre).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label "Song Image" %><br>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit 'Create Song' %>
  </div>
<% end %>