<div>
    <img class="card-img-top" src="/assets/home-banner.jpg" alt="Card image cap">
</div>
<div class= "container text-center mt-4">
<h1>Welcome to Music4U</h1>
<% if current_user %>
  <p>Hello, <%= current_user.username %>!</p>
<% else %>
  <p>Explore and enjoy your favorite music. Sign up or log in to get started!</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
<% end %>
</div>

<p class="text-center pb-2">Music is a great healer. Begin and end your day with Music.</p>
<div class= "container row d-flex justify-content-center">
  <div class="card col-3 m-1" style="width: 18rem;">
    <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Albums</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "View More", albums_path %>
      <%# <a href="#" class="btn btn-primary">View more</a> %>
    </div>
  </div>
  <div class="card col-3 m-1" style="width: 18rem;">
    <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Songs</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "View More", songs_path %>
      <%# <a href="#" class="btn btn-primary">View more</a> %>
    </div>
  </div>
  <div class="card col-3 m-1" style="width: 18rem;">
    <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Playlists</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "View More", playlists_path %>
      <%# <a href="#" class="btn btn-primary">View more</a> %>
    </div>
  </div>
</div>
<hr>

<div class ="container">
<h2 class = "text-center">Featured Songs</h2>
<div class="song-list text-center">
<%# <% byebug %> 
  <% @songs.each do |song| %>
    <div class="song">
      <%= link_to song.title, song_path(song) %>
    </div>
  <% end %>
</div>
<br><hr>
</div>

<div class ="container">
<h2 class = "text-center">Popular Playlists</h2>
<div class="playlist-list text-center">
  <% @playlists.each do |playlist| %>
    <div class="playlist">
      <%= link_to playlist.title, playlist_path(playlist) %>
    </div>
  <% end %>
</div>
<br><hr>
</div>

<div class ="container">
<h2 class = "text-center">Latest Albums</h2>
<div class="album-list text-center">
  <% @albums.each do |album| %>
    <div class="album">
      <%= link_to album.title, album_path(album) %>
    </div>
  <% end %>
</div>
</div>
<br>





