<%= form_with(model: @album, url: albums_path, method: :post) do |album| %>
    <% if @album.errors.any? %>
    <div id= "errors">
    <%= pluralize(@album.errors.count, "error") %> prohibited
        this article from being saved:
    <%# <h2>Errors:</h2> %>
    <ul>
    <% @album.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    <div class="field">
    <%= album.label :title %>
    <%= album.text_field :title %>
    </div>

    <div class="field">
    <%= album.label :image %>
    <%= album.file_field :album_image %>
    </div>

    <div class="field">
    <%= album.submit 'Create album' %>
    </div>
<% end %>