<div class = "container songs-container">
<h4 class = "text-center mt-5">Yours Albums</h4>
<%= link_to 'Create New Album', new_album_path, class: 'btn btn-primary' %>
<hr>
<div class = "album-list mt-3">
  <% @current_user.albums.each do |album| %>
  <div class="album">
  <% if album.album_image.attached? %>
    <%= image_tag album.album_image, style: 'max-height: 100px' %>
  <% end %>
  <h4><%= album.title %></h4>
  <p><%= album.genre %></p>
  <%= link_to 'View details', albums_path(album) %>
  <hr>
  </div>
  <% end %>
</div>
</div>

<div class = "container songs-container">
<h4 class = "text-center mt-5">All Albums</h4>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= link_to "Show", album %></td>
        <td><%= link_to "Edit", edit_album_path(album) %></td>
        <td><%= link_to "Destroy", album, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
